<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="author" content="duanyc>">
    <link rel="stylesheet" href="../../../libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>fullScreen</title>
</head>
<body>

<!-- content -->
<div class="content-fluid V_content">

    <!-- nav -->
    <nav class="navbar V_nav">
        <div class="logo">
            <a href="javascript:;">
                <img src="images/logo.png" alt="logo">
            </a>
        </div>

        <ul class="navbar-nav" id="navBar">
            <li class="active">
                <span>button</span>
            </li>

            <li>
                <span>button</span>
            </li>

            <li>
                <span>button</span>
            </li>

            <li>
                <span>button</span>
            </li>
        </ul>

    </nav>

    <!-- center -->
    <div class="V_content clearfix">

        <div class="V_leftFunction" id="left-function">

            <ul>
                <li class="active" id="button1">
                    <span>button</span>
                </li>

                <li id="button2">
                    <span>button</span>
                </li>

                <li id="button3">
                    <span>button</span>
                </li>

                <li  id="button4">
                    <span>button</span>
                </li>

                <li id="button5">
                    <span>button</span>
                </li>
            </ul>

            <!-- views -->
            <div class="V_leftFunction_view">

                <div class="V_leftFunction_view_child">

                    <p>view1</p>

                </div>

                <div class="V_leftFunction_view_child">

                    <p>view2</p>

                </div>

                <div class="V_leftFunction_view_child">

                    <p>view3</p>

                </div>

                <div class="V_leftFunction_view_child">

                    <p>view4</p>

                </div>

                <div class="V_leftFunction_view_child">

                    <p>view5</p>

                </div>

            </div>

        </div>

    </div>

</div>


<script src="../../../libs/jQuery/jquery-2.0.2.min.js"></script>
<script src="../../../libs/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../libs/angular-1.2.5/angular.min.js"></script>
<script src="../../../libs/angular-1.2.5/angular-route.min.js"></script>
<script src="../../../libs/VirusAnimation/js/VA.js"></script>
<script src="js/common.js"></script>
</body>
</html>