/*
    VirusAnimation-demo

    Created by duanyc

    Update : 2017/08/02
*/

body, html {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    font-family: "Microsoft YaHei", SimSun;
    -webkit-transition: all .75s;
    -moz-transition: all .75s;
    -ms-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #2B3134;
    /*background-image: linear-gradient(180deg, rgba(229, 229, 229, 0.3), rgba(112, 117, 255, 0.3))*/
}

img {
    vertical-align: middle;
    border: 0 none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.V-nav {
    -webkit-transition: all .75s;
    -moz-transition: all .75s;
    -ms-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    transform: translateY(-200px);
}

.V-nav .navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.V_navBar_brand {
    display: inline-block;
    width: 68px;
    height: 70px;
    margin: 0 25px 0 30px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-header {
    height: 80px;
    padding-top: 5px;
}

#V_navBar_collapse .navbar-nav {
    height: 80px;
    margin-left: 2%;
}

#V_navBar_collapse .navbar-nav li {
    margin-top: 1.3rem;
}

#V_navBar_collapse .navbar-nav li,
#V_navBar_collapse .navbar-nav li a {
    height: 80%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/*logo*/
.V_navBar_brand img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*.V_navBar_brand::before {*/
/*z-index: 2;*/
/*content: 'V';*/
/*display: inline-block;*/
/*font-size: 9.3rem;*/
/*color: #68D068;*/
/*!* font-family: Cambria; *!*/
/*font-family: Andalus;*/
/*position: absolute;*/
/*left: .5rem;*/
/*top: 2.3rem;*/
/*}*/

/* ------ logo ------*/

#V_navBar_collapse .navbar-form {
    width: 300px;
    margin-top: 25px;
}

.V-container {
    width: 100%;
    height: 900px;
    margin: 0 auto;
}

.V-container > div {
    height: 160px;
    padding: 15px;
    transition: all .25s;
}

.V-container div:nth-child(odd) .V-css-example {
    background-image: linear-gradient(to right bottom, #262626, #525252, #6e6e6e);
}

.V-container div:nth-child(even) .V-css-example {
    background-image: linear-gradient(to right bottom, #6e6e6e, #525252, #262626);
}

.V-container div:hover {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    transform: translate(1px, 2px);
}

.V-container .row {
    margin-left: 0;
    margin-right: 0;
}

/* Demo example */
.V-css-example {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .457s;
    -moz-transition: all .457s;
    -ms-transition: all .457s;
    -o-transition: all .457s;
    transition: all .457s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*border: 1px solid rgba(200, 198, 204, .6);*/
    -webkit-box-shadow: 3px 4px 20px rgba(57, 57, 57, 0.85), inset 3px 4px 250px rgba(91, 91, 91, 0.6);
    -moz-box-shadow: 3px 4px 20px rgba(57, 57, 57, 0.85), inset 3px 4px 250px rgba(91, 91, 91, 0.6);
    box-shadow: 3px 4px 20px rgba(57, 57, 57, 0.85), inset 3px 4px 250px rgba(91, 91, 91, 0.6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.V-css-example:active {
    -webkit-transform: translate(2px, 2px);
    -moz-transform: translate(2px, 2px);
    -ms-transform: translate(2px, 2px);
    -o-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
}

/*title*/
.V-css-example-title {
    display: block;
    width: 100%;
    height: 40px;
    font-weight: 600;
    line-height: 40px;
    font-size: 17px;
    color: #d7d7d7;
    border-bottom: 1px dashed #cbcbcb;
    padding-left: 15px;
    padding-right: 15px;
}

/*describe*/
.V-css-example-describe {
    display: block;
    width: 100%;
    height: 80px;
    font-size: 15px;
    padding: 15px;
    color: #d7d7d7;
    white-space: pre-wrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    text-overflow: ellipsis;
}