/*
    VirusAnimation-module-logo-css

    Created by duanyc

    Update : 2017/10/26
*/

/*logo*/
.modal_logo {
    width: 6rem;
    height: 6rem;
    position: fixed;
    top: 1%;
    left: 5%;
}

.V_navBar_brand {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 2px -3px 20px #b4afaf;
    -moz-box-shadow: 2px -3px 20px #b4afaf;
    box-shadow: 2px -3px 20px #b4afaf;
    -webkit-transition: all .95s;
    -moz-transition: all .95s;
    -ms-transition: all .95s;
    -o-transition: all .95s;
    transition: all .95s;
}

.V_navBar_brand:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.V_navBar_brand img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* ------ logo ------*/